body {
  font-family: Nunito;
  margin: 0px;
  background: #f1f1f1;
}
p.normal {
  font-style: regular;
}

p.italic {
  font-style: italic;
}

p.bold {
  font-style: bold;
}
/* Header menu box */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

/* Header menu orientation */
li {
  float: left;
}

/* Header menu Text */
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Header hover over text */
li a:hover, .dropdown:hover .dropbtn {
  font-weight: bold;
  transition-duration: 0.2s;
}

li.dropdown {
  display: inline-block;
}

/* Header dropdown box */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Header dropdown text */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header style */
.header {
  background-color: #f1f1f1;
  background-image: url(backgrounds/background6.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 125px;
  margin-top: 50px;
  text-align: center;
}

/* Center text style */
.centercolumn {   
  float: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* Left column style */
.leftcolumn {   
  float: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

/* Right column style */
.rightcolumn {   
  float: center;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

/* Footer style */
.footer {
  padding: 20px;
  text-align: center;
  background: #333;
  margin-top: 50px;
  column-count: 2;
  column-gap: 50px;

}

/* Button style */
.button {
  background-color: #ffffff; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 0.2s;
}

.button1 {
    border-radius: 8px;
    border: 1px solid rgb(189, 189, 189);
}
.button1:hover {
    border-radius: 8px;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.24),0 0px 500px 0 rgba(0, 0, 0, 0.19);
    background-color: #123c97;
    border: 1px solid #123c97;
    color: #ffffff;
    }